<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.akboom.blogapi.dao.mapper.ArticleMapper">

    <resultMap id="ArticleVoMap" type="org.akboom.blogapi.vo.ArticleVo">
        <result property="id" column="id"/>
        <result javaType="String" column="create_date" property="createDate"
                typeHandler="org.akboom.blogapi.handler.typeHandler.DateTimeTypeHandler"/>
        <association property="author" column="author_id" select="selectAuthorById" fetchType="lazy"/>
        <collection property="tags" column="id" ofType="Tag" select="selectTagsByArticleId" fetchType="lazy"/>
    </resultMap>

    <resultMap id="ArticleVoMap2" type="org.akboom.blogapi.vo.ArticleVo">
        <result property="id" column="id"/>
        <result javaType="String" column="create_date" property="createDate"
                typeHandler="org.akboom.blogapi.handler.typeHandler.DateTimeTypeHandler"/>
        <association property="author" column="author_id" select="selectAuthorById" fetchType="lazy"/>
        <association property="body" column="id" select="selectBodyContentByArticleId" fetchType="lazy"/>
        <association property="category" column="category_id" select="selectCategoryVoById" fetchType="lazy"/>
        <collection property="tags" column="id" ofType="Tag" select="selectTagsByArticleId" fetchType="lazy"/>
    </resultMap>
    <insert id="insertArticle">
        INSERT INTO article
        VALUES (#{id}, #{commentCounts}, #{createDate}, #{summary}, #{title}, #{viewCounts}, #{weight}, #{authorId},
                 #{categoryId})
    </insert>


    <select id="selectArticleByPageParam" resultMap="ArticleVoMap">
        SELECT
        *
        FROM
        article
        <where>
            <if test="categoryId != null">
                category_id = #{categoryId}
            </if>
            <if test="tagId != null">
                AND id IN (
                SELECT
                article_id
                FROM
                article_tag
                WHERE
                tag_id =#{tagId})
            </if>
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and YEAR(FROM_UNIXTIME(create_date/1000)) = #{year} and MONTH(FROM_UNIXTIME(create_date/1000)) = #{month}
            </if>
        </where>
        ORDER BY
        weight DESC,
        create_date DESC
        <if test="page != null and pageSize != null">
            LIMIT #{page}, #{pageSize}
        </if>
    </select>

    <select id="selectAuthorById" resultType="org.akboom.blogapi.vo.UserVo">
        SELECT id,nickname,avatar
        FROM sys_user
        WHERE id = #{author_id}
    </select>

    <select id="selectTagsByArticleId" parameterType="java.lang.Long" resultType="Tag">
        SELECT *
        FROM tag
        WHERE id IN (SELECT tag_id
                     FROM article_tag
                     WHERE article_id = #{id})
    </select>

    <select id="selectBodyContentByArticleId" parameterType="java.lang.Long" resultType="org.akboom.blogapi.vo.ArticleBodyVo">
        SELECT content
        FROM article_body
        WHERE article_id = #{id}
    </select>

    <select id="selectCategoryVoById" parameterType="java.lang.Long" resultType="org.akboom.blogapi.vo.CategoryVo">
        SELECT id,
               avatar,
               category_name
        FROM category
        WHERE id = #{category_id}
    </select>

    <select id="selectArticleCount" resultType="Article">
        SELECT count(*)
        FROM article
    </select>

    <select id="selectHotArticle" resultType="java.util.HashMap">
        SELECT id,
               title
        FROM article
        ORDER BY view_counts DESC
            LIMIT #{limit}
    </select>

    <select id="selectNewArticle" resultType="java.util.HashMap">
        SELECT id,
               title
        FROM article
        ORDER BY create_date DESC
            LIMIT #{limit}
    </select>

    <select id="selectArticleById" resultMap="ArticleVoMap2">
        SELECT *
        FROM article
        WHERE id = #{id}
    </select>

    <update id="updateViewCountsById">
        UPDATE article
        SET view_counts = #{viewCountsNew}
        WHERE id = #{articleId}
        AND view_counts = #{viewCountsOld}
    </update>

    <update id="updateCommentCountsById">
        UPDATE article
        SET comment_counts = #{newCounts}
        WHERE comment_counts = #{oldCounts}
        AND id = #{articleId}
    </update>
    <update id="updateArticle">
        UPDATE article
        SET title = #{title},summary = #{summary},category_id = #{categoryId}
        WHERE id = #{id}
    </update>

    <select id="selectCommentCountsById" resultType="int">
        SELECT comment_counts
        FROM article
        WHERE id = #{articleId}
    </select>
    <select id="selectViewCountsById" resultType="java.lang.Integer">
        SELECT view_counts
        FROM article
        WHERE id = #{articleId}
    </select>
    <select id="selectArchive" resultType="org.akboom.blogapi.dao.dos.Archive">
        SELECT
            YEAR(FROM_UNIXTIME( create_date / 1000)) AS year,
            MONTH(FROM_UNIXTIME( create_date / 1000)) AS month,
            count(*) AS count
        FROM
            article
        GROUP BY
            year,
            month
    </select>
    <select id="selectArticlesByWord" resultType="org.akboom.blogapi.vo.ArticleSearchVo">
        SELECT id,title
        FROM article
        WHERE title like CONCAT('%',#{search},'%')
        ORDER BY view_counts DESC
    </select>


</mapper>