<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.akboom.blogapi.dao.mapper.TagMapper">

    <select id="selectHotTagIds" resultType="java.lang.Long">
        SELECT tag_id
        FROM article_tag
        GROUP BY tag_id
        ORDER BY count(*) DESC
            LIMIT #{limit}
    </select>

    <select id="selectTagsByIds" parameterType="java.util.List" resultType="Tag">
        select * from tag
        <where>
            <if test="ids != null">
                and id in
                <foreach collection="ids" index="index" item="item" open="("
                         separator="," close=")">
                    #{item}
                </foreach>
            </if>
        </where>
    </select>
    <select id="selectTags" resultType="org.akboom.blogapi.vo.TagVo">
        SELECT id, tag_name
        FROM tag
    </select>
</mapper>